@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    transition: none !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}

:root {
  ---c-a1: hsl(240, 15%, 30%);
  ---c-a2: hsl(240, 15%, 55%);
  ---c-b1: hsl(240, 80%, 60%);
  ---c-b2: hsl(240, 70%, 50%);
  ---c-c1: hsl(25, 100%, 50%);
  ---c-bg: hsl(240, 10%, 95%);

  ---err: rgba(255, 10, 10);
  ---ok: rgba(10, 255, 10);

  ---readwidth: 34ch;

  ---font: 'Space Grotesk', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    ---c-a1: hsl(240, 15%, 80%);
    ---c-a2: hsl(240, 15%, 45%);
    ---c-b1: hsl(225, 100%, 70%);
    ---c-b2: hsl(225, 100%, 60%);
    ---c-c1: hsl(20, 70%, 50%);
    ---c-bg: hsl(240, 5%, 5%);
  }
}

body {
  font-size: clamp(1rem, 3.6vw, 3.6rem);
  font-family: var(---font, sans-serif);
  background-color: var(---c-bg, #ebebeb);
  color: var(---c-a1, #646464);

  display: flex;
  flex-direction: column;
  margin: 0 auto;

  min-width: 280px;

  min-height: 100vh;
  height: 100%;
  position: relative;
}

@supports (scrollbar-color: auto) and (scrollbar-width: thin) and (scrollbar-gutter: stable) {
  html {
    scrollbar-gutter: stable;
    scrollbar-color: var(---c-a1) var(---c-bg);
    scrollbar-width: thin;
  }
}

/* global */
::selection {
  background-color: var(---c-b1);
  color: var(---c-bg);
  text-shadow: none;
}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  color: inherit;
  position: relative;
  color: var(---c-b1);
}
a:is(:hover, :focus, :active):after {
  opacity: 0.125;
}
a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1em;
  border-radius: 0.125em;
  background-color: currentColor;
  opacity: 0;
  transition: opacity 0.1s;
}

/* set defaults */
input,
button {
  color: inherit;
  font: inherit;
}

svg,
img,
canvas {
  display: block;
}

pre,
code {
  font-size: 0.8em;
  white-space: pre-wrap;
}

ul,
ol,
dl {
  list-style: none;
  margin: 0;
  padding: 0;
}

main,
header,
footer {
  max-width: 2560px;
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 0.9;
}

p {
  line-height: 1.1;
}
p + p,
:is(address, p) + :is(address, p) {
  margin-top: 0.4em;
}

.default {
  padding: 0 1rem;
  max-width: var(---readwidth);
  width: 100%;
  margin-top: 9vh;
  margin-bottom: 9vh;
  flex: 1;
}
.default > h1 {
  font-size: 2.4em;
  letter-spacing: 0.04em;
  color: var(---c-a2);
  width: max-content;
  margin-bottom: 0.14em;
}

.default > section {
  margin-top: 1.8em;
}

.default > section > h2 {
  font-size: 1.25em;
  font-weight: normal;
  color: var(---c-a2);
  max-width: var(---readwidth);
}

@media (max-width: 600px) {
  .default {
    margin-top: 6vh;
    margin-bottom: 6vh;
  }
}

.box {
  margin: 0.9rem 0;
  padding: 5px;
  border: 4px dashed var(---c-a2);
}

.diff-add,
.diff-remove {
  position: relative;
}

.diff-add::after,
.diff-remove::after {
  position: absolute;
  top: -0.2em;
  bottom: 0;
  right: calc(100% + 0.2em);
  color: var(---c-a2);
  height: calc(100% + 0.4em);
  padding-right: 0.2em;
  display: flex;
  align-items: center;
  opacity: 0.8;
}

.diff-add::before,
.diff-remove::before {
  position: absolute;
  z-index: -1;
  content: '';
  width: calc(100% + 0.4em);
  height: calc(100% + 0.4em);
  top: -0.2em;
  left: -0.2em;
  opacity: 0.2;
}

@media (prefers-color-scheme: dark) {
  .diff-add::before,
  .diff-remove::before {
    opacity: 0.1;
  }
  .diff-add::after,
  .diff-remove::after {
    opacity: 0.6;
  }
}

.diff-add::after {
  content: '+';
  border-right: 2px solid var(---ok);
}

.diff-remove::after {
  content: '-';
  border-right: 2px solid var(---err);
}

.diff-add::before {
  background-color: var(---ok);
}

.diff-remove::before {
  background-color: var(---err);
}
