@import '@fontsource/space-grotesk';

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    transition: none !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}

:root {
  ---c-a1: hsl(240, 15%, 30%);
  ---c-a2: hsl(240, 15%, 55%);
  ---c-b1: hsl(240, 80%, 60%);
  ---c-b2: hsl(240, 70%, 50%);
  ---c-bg: hsl(240, 10%, 95%);

  ---readwidth: 34ch;

  ---font: 'Space Grotesk', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    ---c-a1: hsl(240, 15%, 80%);
    ---c-a2: hsl(240, 15%, 45%);
    ---c-b1: hsl(225, 100%, 70%);
    ---c-b2: hsl(225, 100%, 60%);
    ---c-bg: hsl(240, 5%, 10%);
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3b3b3b;
  color: #9e9e9e;

  font-size: clamp(1rem, 3.2vw, 3.5rem);
  font-family: var(---font);
  background-color: var(---c-bg);
  color: var(---c-a1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  min-height: 100vh;
}

@supports (scrollbar-color: auto) and (scrollbar-width: thin) and (scrollbar-gutter: stable) {
  html {
    scrollbar-gutter: stable;
    scrollbar-color: var(---c-a1) var(---c-bg);
    scrollbar-width: thin;
  }
}

/* global */
::selection {
  background-color: var(---c-b1);
  color: var(---c-bg);
  text-shadow: none;
}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  color: inherit;
  position: relative;
  color: var(---c-b1);
}
a:is(:hover, :focus, :active):after {
  opacity: 0.125;
}
a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1em;
  border-radius: 0.125em;
  background-color: currentColor;
  opacity: 0;
  transition: opacity 0.1s;
}

/* set defaults */
input,
button {
  color: inherit;
  font: inherit;
}

svg,
img,
canvas {
  display: block;
}

pre,
code {
  font-size: 0.8em;
  white-space: pre-wrap;
}

ul,
ol,
dl {
  list-style: none;
  margin: 0;
  padding: 0;
}

main,
header,
footer {
  max-width: 2560px;
  width: 100%;
  margin: 0 auto;
}

.default {
  padding: 0 1rem;
  max-width: var(---readwidth);
  width: 100%;
  margin-top: 12vh;
  margin-bottom: 10vh;
  flex: 1;
}
.default > h1 {
  font-size: 2.2em;
  color: var(---c-a2);
  width: max-content;
  margin-bottom: 0.1em;
}

@media (max-width: 600px) {
  .default {
    margin-top: 8vh;
  }
}
